@font-face {
    font-family: Roboto;
    src: url(sansation_light.woff);
  }
  

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto';
}

.box-one {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
}

.header{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding-top: 20px;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-links{
    display: flex;
    gap: 10px;
}

.hero-container {
    display: flex;
    width: 1200px;
    
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
}

.hero-box-left {
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    width: 450px;
    justify-content: space-between;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}


.placeholder-image {
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.hero-sub-text,
.placeholder-image,
.header-links {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    size: 18px;
    font-weight: bold;
    width: 100px;
    border-radius: 8px;
    border-color: #3882f6;
    padding-top: 10px;
    padding-bottom: 10px;

}

.box-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    justify-content: center;
}

.box-two-heading {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 40px;
}


.info-card-container {
    display: flex;
    gap: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 170px;
    gap: 10px;
}

.card-img-placeholder {
    border-color: #3882f6;
    border-radius: 10px;
    border-width: 5px;
    height: 170px;
    background-color: white;
    border-style: solid;
}

.card-info {
    text-align: center;
    color: gray;
}

.box-three {
    background-color: #e5e7eb;
    display: flex;
    padding: 100px 300px 100px 300px;
    flex-direction: column;
}

.quoted-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}
.author {
    font-size: 26px;
    color: #1f2937;
    font-weight: 800;
    text-align: right;
}

.box-four {
    padding: 100px 200px 100px 200px;
}

.blue-box-container{
    display: flex;
    background-color: #3882f6;
    padding: 50px 150px 50px 150px;
    border-radius: 12px;
    justify-content: space-between;
}

.call-to-action-heading{
    color: #f9faf8;
    font-size: 28px;
    font-weight: 700;
}

.call-to-action-subtext {
    color: #e5e7eb;
}

.call-to-action-button{
    background-color: #3882f6;
    border-style: solid;
    color: #f9faf8;
    size: 18px;
    font-weight: bold;
    width: 100px;
    border-radius: 8px;
    border-color: #f9faf8;
}

.footer {
    height: 60px;
    padding-top: 50px;
    margin-top: auto;
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
}